registry=https://pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/registry/:username=abhishek00007 
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/registry/:_password=Z2hwX3h2UW5rd1VaZVl0RmNEYWlGbFpRYWQwNVcycHJBdTN5TUlmRD4=
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/:username=abhishek00007 
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/:_password=Z2hwX3h2UW5rd1VaZVl0RmNEYWlGbFpRYWQwNVcycHJBdTN5TUlmRD4=
//pkgs.dev.azure.com/abhishek00007/ArtifactDemo/_packaging/npm_feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
